{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Customer Complaints</h1>   
            <div class="table-responsive">
                <table class="table table-bordered text-light">
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th>Complaint</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>      
                    </tr>
                    {% for c in complaints %}
                        <tr>
                            <td>{{forloop.counter}}</td>                                      
                            <td>{{c.name}}</td>                                       
                            <td>{{c.contactno}}</td>                                       
                            <td>{{c.emailaddress}}</td>                                       
                            <td>{{c.complaint}}</td>                                       
                            <td>{{c.complaintdate}}</td>
                            <td>{{c.status}}</td>
                            <td>
                                {% if c.status == 'pending' %}
                                <a href="{% url 'adminapp:resolvecomplaint' cid=c.cid %}" class="btn btn-success">Mark Resolved</a>
                                {% endif %}
                            </td>                                       
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock body %} 